/ab123456/cp2023/tests3/
/ab123456/tests/
/ab123456/mn448378.zip
/ab123456/testsButBetter/
/lib/
/out/
/TESTY/
/TESTY2/
/TESTY2/tests2/
/TESTY2/testsButBetter/
/TESTY2/testCykle.7z
/TESTY2/testsButBetter.7z
/ab123456.zip
/mn448378.zip
/zaliczeniowe1.iml
*.xml